@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 5px 20px;
  box-sizing: border-box;
}
a {
  cursor: pointer;
}
.border-rounded1 {
  padding: 5px;
  border: 2px solid rgb(0, 0, 0);
  margin: 10px;
  border-radius: 50%;
}
.border-rounded1:hover {
  background: #b36565;
}
.bg1 {
  background-color: black;
}
.color1 {
  color: black;
}
