@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
  font-family: "Pacifico";
  font-style: normal;
  font-weight: 400;
  src: local("Pacifico Regular"), local("Pacifico-Regular"),
    url(https://fonts.gstatic.com/s/pacifico/v12/FwZY7-Qmy14u9lezJ-6H6MmBp0u-.woff2)
      format("woff2");
  font-display: swap;
}
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Pacifico", sans-serif;
  background: rgb(176, 119, 161);
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0px 20px;
  box-sizing: border-box;
}
a,
Link {
  cursor: pointer;
}
.border-rounded1 {
  padding: 5px;
  border: 2px solid rgb(0, 0, 0);
  margin: 10px;
  border-radius: 50%;
}

.border-rounded1:hover {
  background: #e3dada;
}
.bg1 {
  background-color: rgb(255, 255, 255);
}
.bg2 {
  background-color: rgb(233, 127, 180);
}
.bg3 {
  background-color: rgb(64, 43, 58);
}
.color1 {
  color: rgb(26, 14, 1);
}
.color1:hover {
  color: rgb(19, 1, 1);
}
.button1 {
  background: rgb(213, 188, 188);
  color: rgb(0, 0, 0);
  transition: all 0.3s ease-in-out;
}
.button1:hover {
  background: rgb(232, 223, 227);
  color: rgb(239, 230, 230);
}
.bor p,
.p {
  color: #374151;
}
.p-dark {
  color: #2b3442;
}

.textsize1 {
  font-size: 31px;
}
.textsize2 {
  font-size: 40px;
}
.textsize3 {
  font-size: 24px;
}
@media (max-width: 1440px) {
  .textsize1 {
    font-size: 28px;
  }
  .textsize2 {
    font-size: 35px;
  }
  .textsize3 {
    font-size: 20px;
  }
}
@media (max-width: 1024px) {
  .textsize1 {
    font-size: 25px;
  }
  .textsize2 {
    font-size: 31px;
  }
  .textsize3 {
    font-size: 18px;
  }
}
@media (max-width: 950px) {
  .nav-display-none {
    display: none;
  }
}
@media (max-width: 768px) {
  .textsize1 {
    font-size: 22px;
  }
  .textsize2 {
    font-size: 26px;
  }
  .textsize3 {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .textsize1 {
    font-size: 18px;
  }
  .textsize2 {
    font-size: 23px;
  }
  .textsize3 {
    font-size: 14px;
  }
}
