@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 0px 20px;
  box-sizing: border-box;
}
a,
Link {
  cursor: pointer;
}
.border-rounded1 {
  padding: 5px;
  border: 2px solid rgb(0, 0, 0);
  margin: 10px;
  border-radius: 50%;
}
.border-rounded1:hover {
  background: #e3dada;
}
.bg1 {
  background-color: rgb(255, 155, 210);
}
.bg2 {
  background-color: rgb(233, 127, 180);
}
.bg3 {
  background-color: rgb(64, 43, 58);
}
.color1 {
  color: rgb(26, 14, 1);
}
.color1 {
  color: rgb(19, 1, 1);
}
.button1 {
  background: rgb(214, 52, 132);
  color: rgb(245, 238, 230);
  transition: all 0.3s ease-in-out;
}
.button1:hover {
  background: rgb(209, 41, 125);
  color: rgb(239, 230, 230);
}
p {
  color: #374151;
}
